<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update/<%= onetodo._id %>" method="post">
        <input type="text" placeholder="Enter title" name="content" value="<%= onetodo.content %>">
        <input type="text" placeholder="Enter content" name="title" value="<%= onetodo.title %>" >
        <button>Update todo</button>
    </form>
</body>
</html>