<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ejs File allows you to write javascript inside your html tag</h1>
    <p>Example: <%= 2 * 2 %></p>
   
    <p>Welcome To your dashboard <%= user %></p>

    
</body>
</html>